.card {
  border-radius: 1.7rem;
}

.card:hover {
  transition: 0.5s;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  border-radius: 1.7rem;
  background-repeat: no-repeat;
  height: 20rem;
  background-position: center;
  background-size: cover;
}

.chinese {
  background-image: url("http://1.bp.blogspot.com/-1ZmtEmTRT5k/U_1tyO_7UzI/AAAAAAAABVg/se3xQ7CuC3M/s1600/Asian+Slaw+3.jpg");
}

.korean {
  background-image: url("https://i.pinimg.com/564x/d6/53/f2/d653f278243751804f29b4420afa6072.jpg");
}

.japanese {
  background-image: url("https://i.pinimg.com/564x/7f/2a/17/7f2a175fa81e9d0b43b62a1069b40d9b.jpg");
}

.italian {
  background-image: url("https://i.pinimg.com/564x/b9/84/dd/b984dde64142bab6166ac7888610ab6a.jpg");
}

.indian {
  background-image: url("https://i.pinimg.com/564x/a7/96/be/a796be6d625230f0b33678fe4ad3e1ee.jpg");
}

.middle-eastern {
  background-image: url("https://i.pinimg.com/564x/57/82/e5/5782e5170f8992628796c0cd8b72c19b.jpg");
}

/* ==========================FOOTER=================== */
.footer-box {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer {
  padding-top: 15px;
  background-color: rgb(39, 38, 38);
  color: rgb(207, 203, 203);
}
.footer h3 {
  font-style: italic;
  font-family: cursive;
}

.footer .list-country h6 {
  padding-bottom: 1.5px;
  border-bottom: 0.2px solid aliceblue;
  display: inline;
}

.footer .list-country li {
  list-style-type: none;
}

.footer .list-country li a {
  text-decoration: none;
  color: rgb(226, 226, 226);
}
.footer .list-country li a:hover {
  margin-left: 3px;
  color: burlywood;
  font-size: 18px;
}

.copyright {
  background-color: rgb(39, 38, 38);
  color: rgb(236, 235, 235);
  border-top: 1px solid white;
  text-align: center;
  padding-bottom: 5px;
}
