@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
/* ======================================== NAVBAR ======================================== */
.navbar {
    position: absolute;
    z-index: 999;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffcd5e; !important;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #e68e0b; !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    font-weight: 700;
    color: #e68e0b; !important;
}
/* ======================================== NAVBAR ======================================== */

.carousel {
    height: 100vh;
}

/* ======================================== MAIN ======================================== */
.search-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.search-bar {
    z-index: 999;
}

.carousel-img1,
.carousel-img2,
.carousel-img3 {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-img1 {
    background-image: url("https://images.unsplash.com/photo-1580683742795-49989f7ecb72?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80");
}

.carousel-img2 {
    background-image: url("https://images.unsplash.com/photo-1541921671-016ccc70f7cc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1343&q=80");
}

.carousel-img3 {
    background-image: url("https://images.unsplash.com/photo-1576488489579-6967c02c56fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.dish-card {
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.dish-card:hover {
    transition: 0.5s;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.card-img-top {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chinese,
.korean,
.japanese,
.italian,
.indian,
.middle-eastern {
    height: 15rem;
}

.chinese {
    background-image: url("http://1.bp.blogspot.com/-1ZmtEmTRT5k/U_1tyO_7UzI/AAAAAAAABVg/se3xQ7CuC3M/s1600/Asian+Slaw+3.jpg");
}

.korean {
    background-image: url("https://i.pinimg.com/564x/d6/53/f2/d653f278243751804f29b4420afa6072.jpg");
}

.japanese {
    background-image: url("https://i.pinimg.com/564x/7f/2a/17/7f2a175fa81e9d0b43b62a1069b40d9b.jpg");
}

.italian {
    background-image: url("https://i.pinimg.com/564x/b9/84/dd/b984dde64142bab6166ac7888610ab6a.jpg");
}

.indian {
    background-image: url("https://i.pinimg.com/564x/a7/96/be/a796be6d625230f0b33678fe4ad3e1ee.jpg");
}

.middle-eastern {
    background-image: url("https://i.pinimg.com/564x/57/82/e5/5782e5170f8992628796c0cd8b72c19b.jpg");
}

.card-subtitle {
    font-weight: 500;
}

.recommendation-container > h3 {
    font-weight: 600;
}

#recommendation {
    display: flex;
}
/* ======================================== MAIN ======================================== */

/* ======================================== FOOTER ======================================== */
.footer {
  padding-top: 15px;
  background-color: rgb(39, 38, 38);
  color: rgb(207, 203, 203);
}
.footer h3 {
  font-style: italic;
}

.footer .list-country ul {
    text-align: center;
}

.footer .list-country h6 {
    padding-bottom: 1.5px;
    border-bottom: 0.2px solid aliceblue;
    display: inline;
}

.footer .list-country li {
  list-style-type: none;
}

.footer .list-country li a {
  text-decoration: none;
  color: rgb(226, 226, 226);
}
.footer .list-country li a:hover {
  color: burlywood;
}

.copyright {
  background-color: rgb(39, 38, 38);
  color: rgb(236, 235, 235);
  border-top: 1px solid white;
  text-align: center;
  padding-bottom: 5px;
}

.nav-icon {
  padding: 5px;
}
/* ======================================== FOOTER ======================================== */

/* ======================================== MEDIA QUERY ======================================== */
/* -------------------- x-small -------------------- */
@media screen and (max-width: 575px) {
    .country-dish-grid-container {
        padding: 1rem;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .dish-card {
        margin: .5rem;
    }

    .chinese,
    .korean,
    .japanese,
    .italian,
    .indian,
    .middle-eastern {
        height: 7rem;
    }

    .card-subtitle {
        font-size: 1rem;
    }

    .recommendation-container {

    }
}
/* -------------------- x-small -------------------- */

/* -------------------- small -------------------- */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .country-dish-grid-container {
        padding: 1rem;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .dish-card {
        margin: .5rem;
    }

    .chinese,
    .korean,
    .japanese,
    .italian,
    .indian,
    .middle-eastern {
        height: 10rem;
    }
}
/* -------------------- small -------------------- */

/* -------------------- medium -------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .country-dish-grid-container {
        padding: 1rem;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .dish-card {
        margin: .5rem;
    }
}
/* -------------------- medium -------------------- */

/* -------------------- large -------------------- */
@media screen and (min-width: 992px) {
    .country-dish-grid-container {
        padding: 1rem;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .dish-card {
        margin: .5rem;
    }
}
/* -------------------- large -------------------- */
/* ======================================== MEDIA QUERY ======================================== */