@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}

* a {
    text-decoration: none;
    color: #ffb341;
}

main #foodList .card {
    border-radius: .75rem;
    padding: 0;
    margin: 1rem;
    border: none;
}

/* ======================================== DETAIL ======================================== */
.title {
  margin: 20px 0px;
}

.box-image {
  width: 100%;
}

.box-image img {
  border-radius: 30px 30px;
}

.summary {
  text-align: justify;
}

.price .box-price {
  border-radius: 0 5px 0 5px;
  background-color: chocolate;
  color: white;
  padding: 2px 4px 2px 4px;
}

.price .box-price span {
  font-size: 10px;
}

.social-media i {
  margin-top: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.social-media .fa-instagram {
  color: #c13584;
}
.social-media .fa-facebook {
  color: #3b5998;
}
.social-media .fa-twitter-square {
  color: #1da1f2;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ======================================== DETAIL ======================================== */

.data-summary {
  background-color: #f8f8f8;
  font-weight: 300;
}

.tips .health-tips ul {
  list-style-image: url(../svg/leaf.svg);
}
.tips .health-tips ul li {
  font-weight: 200;
}

.tips .cooking-tips ul {
  list-style-image: url(../svg/cooking.svg);
}
.tips .cooking-tips ul li {
  font-weight: 200;
}

.modal-dialog {
  margin-left: -1%;
}

/* ======================================== WISHLIST ======================================== */

/* ======================================== WISHLIST ======================================== */

/* ======================================== ABOUT ======================================== */
#about {
    height: 100vh;
}
/* ======================================== ABOUT ======================================== */


/* ======================================== TEAMS ======================================== */

/* ======================================== TEAMS ======================================== */


/* ======================================== MEDIA QUERY ======================================== */
/* -------------------- x-small -------------------- */
@media screen and (max-width: 575px) {
}
/* -------------------- x-small -------------------- */

/* -------------------- small -------------------- */
@media screen and (min-width: 576px) and (max-width: 767px) {
}
/* -------------------- small -------------------- */

/* -------------------- medium -------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
}
/* -------------------- medium -------------------- */

/* -------------------- large -------------------- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
/* -------------------- large -------------------- */

/* -------------------- extra large -------------------- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
}
/* -------------------- x-large -------------------- */

/* -------------------- xx-large -------------------- */
@media screen and (min-width: 1400px) {
}
/* -------------------- xx-large -------------------- */

/* ======================================== MEDIA QUERY ======================================== */
