@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
/* ======================================== NAVBAR ======================================== */
.navbar {
    position: absolute;
    z-index: 999;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffcd5e; !important;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #e68e0b; !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    font-weight: 700;
    color: #e68e0b; !important;
}
/* ======================================== NAVBAR ======================================== */

/* ======================================== MAIN ======================================== */
.carousel {
    height: 100vh;
}

.carousel-img1,
.carousel-img2,
.carousel-img3 {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-img1 {
    background-image: url("https://images.unsplash.com/photo-1580683742795-49989f7ecb72?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80");
}

.carousel-img2 {
    background-image: url("https://images.unsplash.com/photo-1541921671-016ccc70f7cc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1343&q=80");
}

.carousel-img3 {
    background-image: url("https://images.unsplash.com/photo-1576488489579-6967c02c56fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.recommendation-container > h3 {
    font-weight: 600;
}

#recommendation {
    display: flex;
}
/* ======================================== MAIN ======================================== */

/* ======================================== FOOTER ======================================== */
.footer {
  padding-top: 15px;
  background-color: rgb(39, 38, 38);
  color: rgb(207, 203, 203);
}
.footer h3 {
  font-style: italic;
}

.footer .list-country ul {
    text-align: center;
}

.footer .list-country h6 {
    padding-bottom: 1.5px;
    border-bottom: 0.2px solid aliceblue;
    display: inline;
}

.footer .list-country li {
  list-style-type: none;
}

.footer .list-country li a {
  text-decoration: none;
  color: rgb(226, 226, 226);
}
.footer .list-country li a:hover {
  color: burlywood;
}

.copyright {
  background-color: rgb(39, 38, 38);
  color: rgb(236, 235, 235);
  border-top: 1px solid white;
  text-align: center;
  padding-bottom: 5px;
}

.nav-icon {
  padding: 5px;
}
/* ======================================== FOOTER ======================================== */

/* ======================================== MEDIA QUERY ======================================== */
/* -------------------- x-small -------------------- */
@media screen and (max-width: 575px) {
    .navbar {
        padding: 0;
    }

    .brand-name {
        display: none;
    }
}
/* -------------------- x-small -------------------- */

/* -------------------- small -------------------- */
@media screen and (min-width: 576px) and (max-width: 767px) {

}
/* -------------------- small -------------------- */

/* -------------------- medium -------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

}
/* -------------------- medium -------------------- */

/* -------------------- large -------------------- */
@media screen and (min-width: 992px) {

}
/* -------------------- large -------------------- */
/* ======================================== MEDIA QUERY ======================================== */