#contact {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-bottom: 5rem;
}

#contact h2 {
    align-items: center;
    flex-direction: column;
    display: flex;
    font-weight: bolder;
}

#contact hr {
    width: 7rem;
    border-radius: 100rem;
    height: .25rem;
    background-color: #595959;
}

#contact div button {
    font-size: 1rem;
    border: none;
    background-color: var(--bs-yellow);
    font-weight: bolder;
    padding: 1rem 3rem;
    border-radius: 100rem;
}

#contact div button:hover {
    background-color: var(--bs-orange);
}

/* ======================================== MEDIA QUERY ======================================== */
/* -------------------- x-small -------------------- */
@media screen and (max-width: 575px) {}
/* -------------------- x-small -------------------- */

/* -------------------- small -------------------- */
@media screen and (min-width: 576px) and (max-width: 767px) {}
/* -------------------- small -------------------- */

/* -------------------- medium -------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {}
/* -------------------- medium -------------------- */

/* -------------------- large -------------------- */
@media screen and (min-width: 992px) and (max-width: 1199px) {}
/* -------------------- large -------------------- */

/* -------------------- extra large -------------------- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {}
/* -------------------- x-large -------------------- */

/* -------------------- xx-large -------------------- */
@media screen and (min-width: 1400px) {}
/* -------------------- xx-large -------------------- */
/* ======================================== MEDIA QUERY ======================================== */