/* ---------- FOOTER ---------- */
footer {
    border-top: 1px solid #d9d9d9;
}

footer .footer-top {
    display: flex;
}

footer .footer-top-1 h1,
footer .footer-top h5,
footer .footer-top h6 {
    font-weight: bolder;
}

footer .footer-top-1,
footer .footer-top-2,
footer .footer-top-3,
footer .footer-top-4 {
    flex-grow: 1;
}

footer .footer-top-1 p,
footer .footer-top-2 a,
footer .footer-top-3 h6,
footer .footer-bottom a {
    color: var(--bs-orange);
}

footer .footer-top-2 a:hover,
footer .footer-bottom a:hover {
    color: var(--bs-orange);
    text-decoration: underline;
}

footer .footer-top-4 i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

footer .footer-top-4 i:hover {
    color: var(--bs-orange);
}

footer .footer-bottom p i {
    font-size: 1rem;
}
/* ---------- FOOTER ---------- */

/* ======================================== MEDIA QUERY ======================================== */
/* -------------------- xx-small -------------------- */
@media screen and (max-width: 500px) {
    footer .footer-top {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
    }

    footer .footer-top-1,
    footer .footer-top-2,
    footer .footer-top-3,
    footer .footer-top-4 {
        margin-bottom: 1rem;
    }
}
/* -------------------- xx-small -------------------- */

/* -------------------- x-small -------------------- */
@media screen and (min-width: 501px) and (max-width: 575px) {
    footer .footer-top {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
    }

    footer .footer-top-1,
    footer .footer-top-2,
    footer .footer-top-3,
    footer .footer-top-4 {
        margin-bottom: 1rem;
    }

    footer .footer-top {
        margin: .5rem 0;
    }

    footer .footer-bottom {
        margin: 0;
    }
}
/* -------------------- x-small -------------------- */


/* -------------------- small -------------------- */
@media screen and (min-width: 576px) and (max-width: 767px) {
    footer .footer-top {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
    }

    footer .footer-top-1,
    footer .footer-top-2,
    footer .footer-top-3,
    footer .footer-top-4 {
        margin-bottom: 1rem;
    }

    footer .footer-top {
        margin: 1.5rem 0;
    }

    footer .footer-bottom {
        margin: 0;
    }
}
/* -------------------- small -------------------- */

/* -------------------- medium -------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
    footer .footer-top {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
    }

    footer .footer-top-1,
    footer .footer-top-2,
    footer .footer-top-3,
    footer .footer-top-4 {
        margin-bottom: 1rem;
    }

    footer .footer-top {
        margin: 1.7rem 0;
    }

    footer .footer-bottom {
        margin: 0;
    }
}
/* -------------------- medium -------------------- */

/* -------------------- large -------------------- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    footer .footer-top {
        margin: 1.5rem 0;
    }

    footer .footer-bottom {
        margin: 0;
    }
}
/* -------------------- large -------------------- */

/* -------------------- extra large -------------------- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    footer .footer-top {
        margin: 2rem 0;
    }

    footer .footer-bottom {
        margin: 0;
    }
}
/* -------------------- x-large -------------------- */

/* -------------------- xx-large -------------------- */
@media screen and (min-width: 1400px) {
    footer .footer-top {
        margin: 2.8rem 0;
    }

    footer .footer-bottom {
        margin: 0;
    }
}
/* -------------------- xx-large -------------------- */
/* ======================================== MEDIA QUERY ======================================== */