header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #d9d9d9;
}

header .navbar {
    padding: 1rem 0;
    background-color: #fff;
}

header .navbar-brand {
    display: flex;
    align-items: center;
}

header .navbar-brand img {
    width: 2rem;
}

header .nav-link i {
    font-size: 1.5rem;
}

/* ======================================== MEDIA QUERY ======================================== */
/* -------------------- x-small -------------------- */
@media screen and (max-width: 575px) {}
/* -------------------- x-small -------------------- */

/* -------------------- small -------------------- */
@media screen and (min-width: 576px) and (max-width: 767px) {}
/* -------------------- small -------------------- */

/* -------------------- medium -------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {}
/* -------------------- medium -------------------- */

/* -------------------- large -------------------- */
@media screen and (min-width: 992px) and (max-width: 1199px) {}
/* -------------------- large -------------------- */

/* -------------------- extra large -------------------- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {}
/* -------------------- x-large -------------------- */

/* -------------------- xx-large -------------------- */
@media screen and (min-width: 1400px) {}
/* -------------------- xx-large -------------------- */
/* ======================================== MEDIA QUERY ======================================== */